<link rel="icon" href="{{ '/favicon.svg' | relative_url }}?v={{ site.github.build_revision | default: site.time | date: '%s' }}" type="image/svg+xml" sizes="any">
<link rel="alternate icon" href="{{ '/favicon.svg' | relative_url }}?v={{ site.github.build_revision | default: site.time | date: '%s' }}" sizes="any" type="image/svg+xml">
<link rel="shortcut icon" href="{{ '/favicon.svg' | relative_url }}?v={{ site.github.build_revision | default: site.time | date: '%s' }}" type="image/svg+xml">
<link rel="apple-touch-icon" href="{{ '/favicon.svg' | relative_url }}?v={{ site.github.build_revision | default: site.time | date: '%s' }}">
