<link rel="icon" type="image/svg+xml" sizes="any" href="{{ '/assets/img/favicons/favicon.svg' | relative_url }}?v={{ site.github.build_revision | default: site.time | date: '%s' }}">

<link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/img/favicons/apple-touch-icon.png' | relative_url }}?v={{ site.github.build_revision | default: site.time | date: '%s' }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/img/favicons/favicon-32x32.png' | relative_url }}?v={{ site.github.build_revision | default: site.time | date: '%s' }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/img/favicons/favicon-16x16.png' | relative_url }}?v={{ site.github.build_revision | default: site.time | date: '%s' }}">
<link rel="manifest" href="{{ '/assets/img/favicons/site.webmanifest' | relative_url }}?v={{ site.github.build_revision | default: site.time | date: '%s' }}">
<link rel="mask-icon" href="{{ '/assets/img/favicons/safari-pinned-tab.svg' | relative_url }}?v={{ site.github.build_revision | default: site.time | date: '%s' }}" color="#5bbad5">
<link rel="shortcut icon" href="{{ '/assets/img/favicons/favicon.ico' | relative_url }}?v={{ site.github.build_revision | default: site.time | date: '%s' }}">
<meta name="apple-mobile-web-app-title" content="{{ site.title }}">
<meta name="application-name" content="{{ site.title }}">
<meta name="msapplication-TileColor" content="#2d89ef">
<meta name="msapplication-config" content="{{ '/assets/img/favicons/browserconfig.xml' | relative_url }}?v={{ site.github.build_revision | default: site.time | date: '%s' }}">
<meta name="theme-color" content="#ffffff">
